body {
  width: 100%;
}

th, td {
	border: 5px solid lightblue;
}

table {
  margin: auto;
  border-spacing: 0;
}
.box {
	padding: 0 0 0 0;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	width: 150px;
	height: 150px;
  opacity: .75;
  box-shadow: 3px 3px 0px #888888
}

.box {
	width: 150px;
	height: 150px;
  opacity: .75;
  box-shadow: 3px 3px 0px #888888
}

.box:hover {
  background-color: #aaa;
}